@font-face {
  font-family: "capitol";
  src: url("https://use.typekit.net/af/d7186b/00000000000000007735b455/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/d7186b/00000000000000007735b455/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("woff"),
    url("https://use.typekit.net/af/d7186b/00000000000000007735b455/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

* {
  border: 0px solid red;
  padding: 0px;
  margin: 0px;
}

#bkgrd-img {
  position: fixed;
  width: 2000px;
  top: -400px;
  left: -20px;
  z-index: -1;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.448);
  z-index: -1;
}

#text-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

#title {
  font-family: "capitol", sans-serif;
  font-size: 30vw;
  line-height: 35vw;

  text-align: center;
  margin-top: 10vw;
  margin-top: 2vw;
  opacity: 0;
}

.gradient-overlay {
  background-image: linear-gradient(135deg, #92f4e3, #0420a9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.gradient-overlay2 {
  background-image: linear-gradient(135deg, #78b5fa, #2cc2f4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

img.down-arrow {
  width: 36px;
  background-color: #0000008f;
  border-radius: 100px;
  padding: 10px;
  opacity: 0;
}

.down-arrow-ctnr {
  cursor: pointer;
  border-radius: 100px;
  background: none;
}

.submit-btn:hover {
  color: rgb(228, 0, 76);
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
  justify-content: space-evenly;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 16px;
  background-image: linear-gradient(235deg, #78fa92, #2cc2f4);
  border-radius: 10px;
  opacity: 0;
}

form > * {
  opacity: 0;
}

form button {
  font-family: "poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  border-radius: 15px;
  color: rgb(255, 255, 255);

  padding: 10px;
  font-size: 24px;
  transition: 0.5s;
  background: none;
  cursor: pointer;
}

form input {
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.542);
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.form-row {
  width: min-content;
  box-sizing: border-box;
  padding: 4px;
  display: flex;
  justify-content: space-around;
  gap: 8px;
  flex-direction: column;
}

.form-row label {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 3px;
  margin-bottom: 10px;
}

.form-row input {
  padding: 3px;
  border-radius: 5px;
  background-color: #e7faf1;
}

#page2 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 32px;
  padding: 32px;
}

#page2-bkgrd {
  background-color: black;
  color: azure;
}

.text {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.text1, .text2 {
  opacity: 0;
}

.text1 {
  margin-bottom: 40px;
  margin-top: 60px;
}

.text2 {
  margin-bottom: 20px;
  font-size: 16px;
}

.opacity-load-in {
  animation-duration: 2.5s;
  animation-name: opacityLoad;
  animation-timing-function: ease-in-out;
}

@keyframes opacityLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes stretch-in {
  0% {
    transform: scale(0, .05);
  }
  50% {
    transform: scale(1, .05);
  }
}

.stretch-in {
  animation: stretch-in 2s 1;
}


